.game{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
  margin: -5px;
}

.game button{
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid gray;
}

.game button.alive{
  background-color: red;
}

